/projets/test/web/nbproject/private/
/projets/test/Web/nbproject/private/
/projets/test/testJSON/WebAppJSON/nbproject/private/
/projets/test/testJSON/WebAppJSON/build/
/projets/test/testJSON/WebAppJSON/dist/
/projets/JavaPerf/WebApplication1/nbproject/private/
/projets/jpaPerf/nbproject/private/
/projets/jpaPerf/build/
/projets/jpaPerf/dist/
/projets/JPAPerf/nbproject/private/
/projets/JPAPerf/build/
/projets/JPAPerf/dist/
/projets/JPA/JPAPerf/nbproject/private/
/projets/JPA/JPAPerf/build/
/projets/JPA/JPAPerf/dist/
/JPAPerf1/JPAPerf/nbproject/private/
/JPAPerf1/JPAPerf/build/
/JPAPerf1/JPAPerf/dist/