/JPAPerf/JPAPerf/nbproject/private/
/JPAPerf/JPAPerf/build/
/JPAPerf/JPAPerf/dist/
/SampleApp/nbproject/private/
/SampleApp/build/
/SampleApp/dist/
/jpatest/nbproject/private/
/JPAPref/nbproject/private/
/JPAPref/build/
/JPAPref/dist/
/JPAPerf/nbproject/private/
/JPAPerf/build/
/JPAPerf/dist/
/test/nbproject/private/